<nav class="navbar">
    <a href="/" class="logo">Rüya Günlüğü</a>
    <ul>
        <li><a href="/">Ana Sayfa</a></li>
        <% if (user) { %>
            <li><a href="/dream/">Rüyaların</a></li>
            <li><a href="/form">Rüya Ekle</a></li>
            <li><a href="/logout">Çıkış Yap</a></li>

            <% } else {%>

                <li><a href="/login">Giriş Yap</a></li>
                <li><a href="/register">Kayıt Ol</a></li>
                <% } %>

    </ul>
</nav>