<%- include('partials/_header') %>



    <%- include('partials/_navbar') %>



        <div class="analysis-container">
            <h2>Rüya Analizi</h2>
            <p>
                Bu bir rüya gibi görünmüyor. Biraz daha açıklayıcı olabilir misin?
            </p>

            <br>

            <button onclick="window.location.href='/form'">Geri Dön</button>


        </div>











        <%- include('partials/_footer') %>