<%- include('partials/_header') %>




    <%- include('partials/_navbar') %>



        <div class="form-container">
            <h2>Rüyanızı Yazın</h2>
            <form method="POST" action="/dream" id="dream-form">
                <input name="title" id="title" placeholder="Başlık">
                <textarea name="content" id="message" placeholder="Rüya..."></textarea>
                <button type="submit">Keşfet</button>
            </form>
        </div>







        <div id="loading-screen" class="loading-screen">
            <div class="loading-container">
                <div class="spinner"></div>
                <p>Yükleniyor...</p>
            </div>
        </div>


        <script>


            const form = document.getElementById('dream-form');
            const loadingSpinner = document.getElementById('loading-screen');

            form.addEventListener('submit', function (event) {
                // Loading ekranını görünür yaparken 'block' yerine 'flex' kullanıyoruz
                loadingSpinner.style.display = 'flex';
            });
        </script>



        <%- include('partials/_footer') %>