<%- include('partials/_header') %>


    <style>
        body {
            overflow: hidden;
        }
    </style>

    <%- include('partials/_navbar') %>





        <div class="image-container">
            <img src="<%= dream.url %>" alt="Dream">
        </div>











        <%- include('partials/_footer') %>