<%- include('partials/_header') %>


    <%- include('partials/_navbar') %>






        <div class="form-container">
            <h2>Giriş Yap</h2>

            <form method="POST" action="/user/login">
                <input name="email" id="email" placeholder="Email" type="email">
                <input name="password" id="password" placeholder="Şifre" type="password">

                <button type="submit">Send</button>
            </form>
        </div>



        <%- include('partials/_footer') %>