<%- include('partials/_header') %>



    <%- include('partials/_navbar') %>



        <div class="analysis-container">
            <h2>Hikaye</h2>
            <p>
                <%= dream.story %>
            </p>


        </div>








        <%- include('partials/_footer') %>