<%- include('partials/_header') %>



    <%- include('partials/_navbar') %>




        <div class="search-bar-container">
            <div class="search-bar">
                <input type="text" placeholder="Rüya ara...">
                <button>Ara</button>
            </div>
        </div>
        <br>
        <br>



        <div class="filter-container">
            <select id="categoryFilter">
                <option value="all">Tüm Rüyalar</option>
                <option value="macera">Gelecek</option>
                <option value="iliskiler">Geçmiş</option>
                <option value="korku">Korku</option>
                <option value="iliskiler">İlişkiler</option>
                <option value="iliskiler">Aile</option>
                <option value="iliskiler">İş</option>
                <option value="iliskiler">Diğer</option>
            </select>
        </div>


        <div class="container">
            <div class="card">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quae doloribus voluptate laboriosam
                    facere rem beatae adipisci molestias excepturi explicabo provident commodi placeat et quo laudantium
                    distinctio quos, eveniet reiciendis.</p>
            </div>

            <div class="card">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quae doloribus voluptate laboriosam
                    facere rem beatae adipisci molestias excepturi explicabo provident commodi placeat et quo laudantium
                    distinctio quos, eveniet reiciendis.</p>
            </div>

            <div class="card">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quae doloribus voluptate laboriosam
                    facere rem beatae adipisci molestias excepturi explicabo provident commodi placeat et quo laudantium
                    distinctio quos, eveniet reiciendis.</p>
            </div>

            <div class="card">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quae doloribus voluptate laboriosam
                    facere rem beatae adipisci molestias excepturi explicabo provident commodi placeat et quo laudantium
                    distinctio quos, eveniet reiciendis.</p>
            </div>


            <div class="card">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quae doloribus voluptate laboriosam
                    facere rem beatae adipisci molestias excepturi explicabo provident commodi placeat et quo laudantium
                    distinctio quos, eveniet reiciendis.</p>
            </div>


            <div class="card">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quae doloribus voluptate laboriosam
                    facere rem beatae adipisci molestias excepturi explicabo provident commodi placeat et quo laudantium
                    distinctio quos, eveniet reiciendis.</p>
            </div>


            <div class="card">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores quae doloribus voluptate laboriosam
                    facere rem beatae adipisci molestias excepturi explicabo provident commodi placeat et quo laudantium
                    distinctio quos, eveniet reiciendis.</p>
            </div>
        </div>







        <%- include('partials/_footer') %>